@keyframes hover {
  from {
    color: #fff;
  }
  to {
    color: #c1c1c1;
  }
}
.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  box-sizing: border-box;
  padding: 60px 102px 60px 80px;
  color: #fff;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.footer__social {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer__logo {
  width: 105px;
  height: 39px;
  margin-right: auto;
}
.footer__social-heading {
  margin: 0 0 20px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-left: auto;
}
.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.footer__social-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
}
.footer__social-link:hover {
  animation: 1s ease-in-out;
  color: #c1c1c1;
}
.footer__list {
  justify-content: right;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 100px;
  margin-top: 0;
}
.footer__list-item {
  margin: 0 0 16px;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.footer__copyright {
  margin: 108px 0 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
