.form {
  max-width: 385px;
}
.form__fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: none;
}
.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  gap: 20px;
}
.form__input {
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 8px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #838383;
  min-height: 60px;
}
.form__button {
  width: 100%;
  padding: 0;
  border: none;
  margin-bottom: 32px;
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  min-height: 60px;
  color: #ffffff;
  background-color: #2f80ed;
}
.form__button:hover {
  opacity: 70%;
  transition: ease-in-out;
}
.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}
